body{
    background-color: lightcyan;
}
p {
    color: pink;
    background: grey;
}

h1{
    color: salmon;
}

a{
    text-decoration: none;
    clor: pink;
}

/* classe inizia col . */
.highlight{ 
    background: cyan;
    font-size: 20px;
    color: white;
}
.bigger{ 
    font-size: 40px;
}

img{
    margin: 50px;
    padding: 20px;
    border: 1px solid black;
}